#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#delete {
  background-color: rgba(255, 0, 0, 0.25);
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 5px;
  font-size: 1em;
  border-radius: 0.2em;
  transition: all 0.3s ease;
}

#delete:hover {
  background-color: rgba(139, 0, 0, 0.25);
}

#add {
  background-color: rgb(83, 83, 83);
  color: rgb(212, 212, 212);
  border: none;
  padding: 0.5em 1em;
  margin: 5px;
  font-size: 1em;
  border-radius: 0.2em;
  transition: all 0.3s ease;
}

#add:hover {
  background-color: gray;
}

#bought {
  background-color: rgba(0, 128, 0, 0.25);
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 5px;
  font-size: 1em;
  border-radius: 0.2em;
  transition: all 0.3s ease;
}

#bought:hover {
  background-color: rgba(0, 100, 0, 0.25);
}